{% extends 'base.html' %}
{% load main_extras %}
{% block content %}
<div class="card p-3 mb-2">
  <p class="card-title text-success text-center h3">{{ formatted_start_date }}  <span class="text-primary">to</span> {{ formatted_end_date }}</p>

   <p class="card-title text-center h3">Days:  <span class="text-primary">{{total_days_duration}}</span></p>
</div>



<div class="mb-2 d-flex  justify-content-between">
    <div class="card" style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>Completed Subjects</h6>
            <h6 id="today-content" class="text-primary" style=" font-size: 30px; ">{{grouped_records.items|length}}</h6>
            
            <h6>Total Topics</h6>
            <h6 id="today-content" class="text-primary" style=" font-size: 30px; ">{{records|length}} 
            </h6>   
            
        </div>
    </div>
    <div class="card" style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>Total Time</h6>
            <h6 id="today-content" class="text-primary" style=" font-size: 30px; ">{{total_time_duration}}</h6>
            <h6>Daily Average</h6>
            <h6 id="today-content" class="text-primary" style=" font-size: 30px; ">{{daily_avg_duration}}</h6>
        </div>
    </div>
</div>


<div class="card p-3 mb-2">
    <h5 class="text-center">Daily Studied Time in hours</h5>
    <div class="chartDurationC">
      <canvas id="chartDuration"></canvas>
    </div>
</div>

{% if formatted_end_date == dateToday and running_records%}
<div class="card p-3 mb-2 ">
  {% for running in running_records%}
    <h5 class="text-center">Currently Running</h5>
    <hr style="margin-top: 0;">
  <div class="d-flex justify-content-evenly">
  <p class="card-title h5"><span class="text-success">{{ running.subname}}</span></p>
  <p class="card-title h5"><span class="text-success">{{ running.topic}}</span></p>
  <p class="card-title h5"><span class="text-success">{{ running.start_at.time}}</span></p>
  <p class="card-title h5"><span class="text-success"><span id="running-time"></span></p>
  </div>
  {%endfor%}
</div>
{%endif%}

{% if records %}
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">


<div class="card p-3 mb-2">
    <h5 class="text-center">Subjects (by Date)</h5>
</div>
<div class="card p-3 mb-2">
   <table class="table table-borderless table-hover table-sm text-start table-striped">
    <thead>
        <tr>
            <th>Date</th>
           
            <th>Subject</th>
            <th>Topic</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr style="cursor: pointer;" onclick="window.location.href='{% url 'sub_list' record.id %}'">
            <td>{{ record.start_at|date:"d/m/y" }}</td>
            <td>{{ record.subname }}</td>
            <td>{{ record.topic }}</td>
            <td>{{ record.time_taken|format_timedelta }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No records found for this date range.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

    <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card p-3 mb-2">
        <h5 class="text-center">Completed Subjects <span class="text-success">{{grouped_records.items|length}}</span></h5>
    </div>
    {% for subject, records in grouped_records.items %}
    <div class="card p-3 mb-1">
        <div class="d-flex px-1 justify-content-between align-items-center">
        
        <h5>{{ subject }} - <span class="text-success ">{{ records|length }}</span></h5> 
        <h5 class="fst-italic">{{ records|time_sum }}</h5>
        </div>

        <table class="table-borderless table table-hover table-sm text-start table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Topic</th>
                    <th>Started At</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr style="cursor: pointer;" onclick="window.location.href='{% url 'sub_list' record.id %}'">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.topic }}</td>
                        <td>{{ record.start_at|date:"d/m/y"}}</td>
                        <td>{{ record.time_taken|format_timedelta }}</td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No records available for {{ subject }}.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    </div>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('chartDuration');
  var datelist = {{ duration_dates|safe }};
  var monthhours = {{ duration_hours|safe }};
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: datelist,
      datasets: [{
        label: 'Hours',
        data: monthhours,
        borderWidth: 1,
        tension: 0.2,
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        },
      x: {
        grid:{
          display: false
        }, 
      }
      },
    plugins: {
      legend: {

        align: 'end', // Align the legend to the start of the chart area
        labels: {
          usePointStyle: true, // Use point style (circle) for legend
        }
      }
    }
    }
  });
</script>

<script>
    function updateTimeElapsed() {
        var start_time = new Date("{{ start_at|date:'Y-m-d H:i:s' }}");
        var current_time = new Date();
        var elapsed_time_seconds = Math.floor((current_time - start_time) / 1000);
        var hours = Math.floor(elapsed_time_seconds / 3600);
        var minutes = Math.floor((elapsed_time_seconds % 3600) / 60);
        var seconds = elapsed_time_seconds % 60;
        
        var time_elapsed_formatted = "";
    
        if (hours > 0) {
            time_elapsed_formatted += hours + 'h ';
        }
        
        time_elapsed_formatted += minutes + 'm '  + seconds + 's';
        
        document.getElementById("running-time").textContent = time_elapsed_formatted;

    }
    
    updateTimeElapsed();
    setInterval(updateTimeElapsed, 1000);
</script>


<style type="text/css">

        .chartDurationC{

        height: 250px; /* Adjust this value to control the height */
        }



</style>
{% endblock %}
