
{% extends 'base.html' %}
{% block content %}
{% load main_extras %}
{% load static %}
{% if user.is_authenticated %}

<section class="main_section">
            <!-- Top User Info and Time -->
<div class="d-flex mb-2 justify-content-between align-items-center">
    <div class="text-start">
        <h2 class="text-lg text-md-md text-sm-sm"  id="user-name">
            {% if not user.first_name %}
                 🙋‍♂️ <span class="text-primary text-decoration-underline" > {{ user.username|title }}</span>
            {% else %}
                  🙎‍<span class=" text-decoration-underline"> {{ user.first_name|title }} </span><span class="text-primary text-decoration-underline">{{ user.last_name|title }}</span>
            {% endif %}
        </h2>
    </div>
    <div class="text-end">

<p class="h3" id="time"></p>
    </div>
</div>





<div class="mb-4 d-flex  justify-content-between">
    <div class="card " style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>{{ dateToday_short }}</h6>
            <h6 id="today-content" class="text-primary" style=" font-size: 30px; ">{{ total_time }}</h6>
            <h6>{{ daily_target }} Study target</h6>
        </div>
    </div>
    <div class="card" style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>{{ d_day|format_date_2 }}</h6>
            <h6  class="text-primary" style=" font-size: 30px; ">{{ target }}</h6>
            <h6>{{ days_remaining }} Days left</h6>
            
        </div>
    </div>
</div>

            <!-- Currently Doing Subject -->


<div class="mb-4">
    {% if not running_records %}
            <div class="card card-container ">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <div class="text-center card-title">
                        <a href="{% url 'add_record' %}" class="btn btn-success btn-lg rounded-pill"> <i class='bx bx-plus bx-flashing' style='color:#ffffff' ></i> Start A New Subject</a>
                    </div>
            </div>
            </div>
    {% endif %}

    {% if running_records %}
        {% for record in running_records %}
            <div class="card card-container ">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <div class="text-center card-title">
                     <h1 class="display-1 text-responsive" style="font-weight: bold; font-size: 60px;">
                        <span id="time-elapsed"></span>
                     </h1>
                        <h5  class="fw-bold" style=" font-size: 45px; ">
                        <span class="text-success">{{ record.subname }} </span>{{ record.topic }} 
                        </h5>
                        <h6 class="card-title"></i> Started at: {{ record.start_at.time }}</h6>
                    </div>


                    <a href="{% url 'mark_complete' record.id %}" class="mx-2 btn btn-success rounded-pill"><i class='bx bx-check-double bx-flashing' style='color:#ffffff' ></i> Done</a>
                   
                    <div class=" d-flex justify-content-center mt-1">
                    <div class="btn-group mx-2">
                        <a href="{% url 'update_record' record.id %}" class="btn btn-secondary ">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletecurrentModal">
                            <i class='bx bx-error bx-tada' style='color:#ffffff'  ></i>
                          Delete
                        </button>
                    </div>
                    </div>
    </div>
        </div>
        <!-- Modal -->
        <div class="modal fade text-center" id="deletecurrentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="h modal-content py-4">
                <i class='bx bx-error bx-tada h1' style='color:#ff0000'  ></i>
                    <h4>Want to delete?</h4>
                    <h5>{{ record.subname }} - {{ record.topic }}</h5>
                <br>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success rounded-pill" data-bs-dismiss="modal">No</button>

                <a href="{% url 'delete_record' record.id %}" class="btn btn-danger rounded-pill mx-2">Yes, Delete it!</a>
              </div>
            </div>
          </div>
        </div>


        {% endfor %}
    {% endif %}
</div>
</section>






<div class="row">
    <!-- Pending tasks -->
    {% if not completed_records %}
    <div class="col-12 col-md-12 col-lg-12">
    {% else %}
    <div class="col-12 col-md-6 col-lg-6">
    {% endif %}

    {% if queued_records %}
    <div class="card mb-2 p-2">
        <div class="d-flex align-items-center justify-content-center">
            <p style="font-size: 20px; font-weight: bold;">
                Pending <span class="text-primary" style="font-size: 25px;">{{ total_queued }}</span> 
            </p>
        </div>
        <hr class="my-0"> 
        <table class="table table-borderless table-hover table-sm table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Topic</th>
                            <th  class="text-end px-5">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in queued_records %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><span class="h6">{{ record.subname }}</span></td>
                                <td>{{ record.topic }}</td>
                                <td class="text-end">
                                  <div class="btn-group" role="group">
                                    <a href="{% url 'delete_record' record.id %}" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="{% url 'update_record' record.id %}" class="btn btn-secondary btn-sm">Edit</a>

                                </div>
                                {% if not running_records %}
                                <a href="{% url 'start_subject' record.id %}" class="btn btn-primary btn-sm">Start</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
        </table>
    </div>
    {% endif %}
    </div>

    <!-- Completed tasks -->
    {% if not queued_records %}
    <div class="col-12 col-md-12 col-lg-12">
    {% else %}
    <div class="col-12 col-md-6 col-lg-6">
    {% endif %}

    {% if completed_records %}
    <div class="card p-2">
        <div class="d-flex align-items-center justify-content-center">
            <p style="font-size: 20px; font-weight: bold;">
                Today's Completed <span class="text-primary" style="font-size: 25px;">{{ total_completed }}</span>
            </p>
        </div>
        <hr class="my-0">

        <table class="table table-borderless table-hover table-sm table-striped">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Topic</th>
                            <th>Done Time</th>
                            <th>Time Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in completed_records %}
                            <tr  style="cursor: pointer;" onclick="window.location.href='{% url 'sub_list' record.id %}'">
                                <td>{{ forloop.counter }}</td>
                                <td><span class="h6">{{ record.subname }}</span></td>
                                <td>{{ record.topic }}</td>
                                <td>{{ record.done_at.time }}</td>
                                <td>{{ record.time_taken|format_timedelta }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        </table>
    </div>
    {% endif %}
    </div>
</div>






    {% else %}

        <div class="col-md-6 offset-md-3">
            <br>
            <div class="card p-3 mb-2">
            <h1 class="text-center"><i class='bx bxs-user bx-flashing' ></i> Login</h1>
            <br>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <br/>
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success mx-1">Login</button>
                <a href="{% url 'register' %}" class="btn btn-primary mx-1">Sign Up</a>           
                </div>
            </div>

            </form>
        </div>
    {% endif %}


<script>
        function updateTime() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';

            // Convert hours to 12-hour format
            if (hours > 12) {
                hours = hours - 12;
            }

            // Add leading zeros to minutes if needed
            if (minutes < 10) {
                minutes = '0' + minutes;
            }

            // Display the time in the specified format
            var timeString = hours + ':' + minutes + ' ' + ampm;
            document.getElementById('time').textContent = "⌚" + timeString;
        }

        // Update the time every second
        setInterval(updateTime, 1000);

        // Initial call to set the time
        updateTime();
    </script>
<script>
    function updateTimeElapsed() {
        var start_time = new Date("{{ start_at|date:'Y-m-d H:i:s.u' }}");
        var current_time = new Date();
        var elapsed_time_seconds = Math.floor((current_time - start_time) / 1000);

        // Ensure the elapsed time doesn't go negative
        if (elapsed_time_seconds < 0) {
            elapsed_time_seconds =0;
        }

        var hours = Math.floor(elapsed_time_seconds / 3600);
        var minutes = Math.floor((elapsed_time_seconds % 3600) / 60);
        var seconds = elapsed_time_seconds % 60;

        var time_elapsed_formatted = "";

        if (hours > 0) {
            time_elapsed_formatted += hours + 'h ' + minutes + 'm ';
        } else if (minutes > 0) {
            time_elapsed_formatted += minutes + 'm ';
        }

        time_elapsed_formatted += seconds + 's';

        document.getElementById("time-elapsed").textContent = time_elapsed_formatted;
    }

    updateTimeElapsed();
    setInterval(updateTimeElapsed, 1000);
</script>

<script>
    function updateTotalTime() {
        var done_time_sec = {{ done_time|default:0 }}; // Use a default value in case done_time is not provided
        var elapsed_time_seconds = 0;

        var start_at = "{{ start_at|default:'' }}"; // Use a default empty string if start_at is not provided

        if (start_at) {
            var start_time = new Date("{{ start_at|date:'Y-m-d H:i:s.u' }}");
            var current_time = new Date();
            elapsed_time_seconds = Math.floor((current_time - start_time) / 1000);
        }

        var total_time_sec = elapsed_time_seconds + done_time_sec;
        var hours = Math.floor(total_time_sec / 3600);
        var minutes = Math.floor((total_time_sec % 3600) / 60);
        var seconds = total_time_sec % 60;

        var total_time_today = "";

        if (hours > 0) {
            total_time_today += hours + 'h ' + minutes + 'm ';
        } else if (minutes > 0) {
            total_time_today += minutes + 'm ';
        } else {
            total_time_today += '0m';
        }

        document.getElementById("today-content").textContent = total_time_today;
    }

    updateTotalTime();
    setInterval(updateTotalTime, 1000); // Refresh every minute
</script>


    
    <style>
        #user-name {
            display: inline-block;
            font-family: 'Pacifico', cursive;
            white-space: nowrap;
            animation: typing 2s steps(100) forwards;
        }
    
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
 
    </style>

    <style>
#time-elapsed {
    font-family: 'Patua One', serif;
    color: #8B4513; 

}

.card-container {
    min-height: 50vh;
}

    </style>

<style>
        #time {
             font-family: 'Pacifico', cursive;

            background-color: rgba(199, 157, 209, .25);
              backdrop-filter: blur(8px);
              border: 1px solid rgba(255, 255, 255, 0.2);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            text-align: center;
            padding-right: 4px;
            padding-left: 4px;
 
        }
</style>
{% endblock %}

