{% extends 'base.html' %}
{% load main_extras %}
{% block content %}

<div class="card p-3 mb-2">
  {% if recordsDate|date:"d F Y" == dateToday%}
  <p class="card-title text-center text-primary h3">Today's</span></p>
  {%endif%}
  <p class="card-title text-center text-success h3">{{ recordsDate|date:"d F Y" }}</span></p>
</div>
{% if records %}
<div class="mb-2 d-flex  justify-content-between">
    <div class="card" style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>Completed Subjects</h6>
            <h6  class="text-primary" style=" font-size: 30px; ">{{grouped_records.items|length}}</h6>
            <h6>Topics</h6>
            <h6  class="text-primary" style=" font-size: 30px; ">{{records|length}}</h6>

        </div>
    </div>
    <div class="card" style="width: 49%">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h6>Total Time</h6>
            <h6 id="total-time" class="text-primary" style=" font-size: 30px; ">{{total_studied}}</h6>
            {% if recordsDate|date:"d F Y" == dateToday and running_records%}
            <h6>Running</h6>
            <h6 class="text-success" style=" font-size: 30px; ">'{{running_records|length}}' / <span id="running-time"></span></h6>
            {%endif%}

            
        </div>
    </div>
</div>


<div class="card p-3 mb-2">
    <div class="chartSubjectsC">
      <canvas id="chartSubjects"></canvas>
    </div>
</div>

{% if recordsDate|date:"d F Y" == dateToday and running_records%}
<div class="card p-3 mb-2 ">
  {% for running in running_records%}
  <p class="fs-4 h5 text-center">Currently Running</span></p>
  <div class="d-flex justify-content-evenly align-items-center border border-success " style="border-radius: 5px;">
  <p class="card-title text-success h6">{{ running.subname}}</p>
  <p class="card-title">{{ running.topic}}</p>
  <p class="card-title">{{ running.start_at.time}}</p>
  <p class="card-title"><span id="running-time2"></span></p>
  </div>
  {%endfor%}
</div>
{%endif%}










<div class="row">
<div class="col-sm-12 col-md-12 col-lg-6">


<div class="card p-3 mb-2">
    <h5 class="text-center">Subjects (by Date)</h5>
</div>
<div class="card p-3 mb-2">
   <table class="table table-borderless table-hover table-sm text-start table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th >Time</th>
            <th>Subject</th>
            <th>Topic</th>
            <th>Total Time</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr style="cursor: pointer;" onclick="window.location.href='{% url 'sub_list' record.id %}'">
            <td>{{ record.start_at|date:"d/m/y" }}</td>
            <td>{{ record.start_at|time }}</td>
            <td>{{ record.subname }}</td>
            <td>{{ record.topic }}</td>
            <td>{{ record.time_taken|format_timedelta }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No records found for this date range.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

    <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card p-3 mb-2">
        <h5 class="text-center">Completed Subjects <span class="text-success">{{grouped_records.items|length}}</span></h5>
    </div>
    {% for subject, records in grouped_records.items %}
    <div class="card p-3 mb-1">
        <div class="d-flex px-1 justify-content-between align-items-center">
        
        <h5>{{ subject }} - <span class="text-success ">{{ records|length }}</span></h5> 
        <h5 class="fst-italic">{{ records|time_sum }}</h5>
        </div>

        <table class="table-borderless table table-hover table-sm text-start table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Topic</th>
                    <th>Started At</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr style="cursor: pointer;" onclick="window.location.href='{% url 'sub_list' record.id %}'">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.topic }}</td>
                        <td>{{ record.start_at|date }}</td>
                        <td>{{ record.time_taken|format_timedelta }}</td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No records available for {{ subject }}.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    </div>
</div>
{%else%}
<div class="card p-3 mb-2">
  <h3 class="text-center text-primary">Nothing To Show</h3>
</div>
{% endif %}



<script>
    function updateTimeElapsed() {
        var start_time = new Date("{{ start_at|date:'Y-m-d H:i:s' }}");
        var current_time = new Date();
        var elapsed_time_seconds = Math.floor((current_time - start_time) / 1000);
        var hours = Math.floor(elapsed_time_seconds / 3600);
        var minutes = Math.floor((elapsed_time_seconds % 3600) / 60);
        var seconds = elapsed_time_seconds % 60;
        
        var time_elapsed_formatted = "";
        var time_elapsed_formatted2 = "";
        if (hours > 0) {
            time_elapsed_formatted += hours + 'h ';
        }
        
        time_elapsed_formatted += minutes + 'm ';
        time_elapsed_formatted2 =time_elapsed_formatted  + seconds + 's';
        document.getElementById("running-time").textContent = time_elapsed_formatted;
        document.getElementById("running-time2").textContent = time_elapsed_formatted2;
    }
    
    updateTimeElapsed();
    setInterval(updateTimeElapsed, 1000);
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('chartSubjects');
  var subjects_list = {{ subjects_list|safe }};
  var subject_hours = {{ subject_hours|safe }};
  var barbgcolors = {{ barbgcolors|safe }};
  var barcolors = {{ barcolors|safe }};
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: subjects_list,
      datasets: [{
        label: 'Hours',
        data: subject_hours,
        borderWidth: 1,
        backgroundColor: barbgcolors,
        borderColor: barcolors,
        maxBarThickness: 20,
        borderRadius: 20,
        borderSkipped: false,
        barPercentage: 0.5,
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        },
      x: {
        grid:{
          display: false
        }, 
      }
      },
    plugins: {
      legend: {

        display: false
      }
    }
    }
  });
</script>



<style type="text/css">

        .chartSubjectsC{

        height: 250px; /* Adjust this value to control the height */
        }



</style>
{% endblock %}
