{% extends 'base.html' %}
{% load main_extras %}
{% block content %}
<div class="card p-3 mb-2">
  <p class="card-title text-center text-success h3">Advance Search</p>
</div>

<div class="card p-3 mb-2">
 

</div>

<style type="text/css">
          .card {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
</style>
{% endblock %}
