{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <br>

    <div class="card p-3 mb-2">
    <h2 class="text-center">Settings</h2>
    <br>
    <form method="POST">
        {% csrf_token %}

        <div class="row mb-2">
            <label for="target_goal" class="col-sm-4 col-form-label"><i class='bx bx-target-lock '></i> Target:</label>
            <div class="col-sm">
                {{ form.target_goal }}
                <div class="invalid-feedback">
                    Please provide your target goal.
                </div>
            </div>
        </div>

       <div class="row mb-2">
            <label for="target_date" class="col-sm-4 col-form-label"><i class='bx bx-calendar-heart'></i> Target Date:</label>
            <div class="col-sm">
                {{ form.target_date }}
                <div class="invalid-feedback">
                    Please select a valid date.
                </div>
            </div>
        </div>

<hr my-0>
        <div class="row mb-2">
            <label for="{{ form.daily_target_hours.id_for_label }}" class="col-sm-4 col-form-label"><i class='bx bx-time-five'></i> Daily Study Hours:</label>
            <div class="col-sm">
                {{ form.daily_target_hours }}
                <div class="invalid-feedback">
                    Please provide a valid number of hours (between 0 and 18).
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="{{ form.max_queued.id_for_label }}" class="col-sm-4 col-form-label"><i class='bx bx-add-to-queue' ></i> Max Scheduled:</label>
            <div class="col-sm">{{ form.max_queued }}
                <div class="invalid-feedback">
                    Why you want to go beyond 10?.
                </div>
            </div>
        </div>
        <hr my-0>
        <div class="row mb-2">
            <label for="{{ form.wallpaper_number.id_for_label }}" class="col-sm-4 col-form-label"><i class='bx bx-palette' ></i> Wallpaper:</label>
            <div class="col-sm">
                {{ form.wallpaper_number}}
                <div class="invalid-feedback">
                    choose from
                </div>
            </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success mx-2">Apply</button>
        <a href="{% url 'home' %}" class="btn btn-primary mx-2">Home</a>
        </div>
        
        </div>
    </form>
</div>

{% endblock %}
